<!-- move_base.launch -->
<launch>
  <param name="use_sim_time" value="true"/>

  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find ridgeback_navigation)/maps/ridgeback_map.yaml"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find ridgeback_navigation)/config/costmap_common.yaml" command="load"/>
    <rosparam file="$(find ridgeback_navigation)/config/global_costmap.yaml" command="load"/>
    <rosparam file="$(find ridgeback_navigation)/config/local_costmap.yaml" command="load"/>

    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
  </node>
</launch>
